@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron center">
    <h1 class="fancy-text">Rocket League Stats</h1>
    <p class="lead fancy-text">Get up to date stats for you favourite RLCS teams and players!</p>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Team Stats", "Index", "teams", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Player Stats", "Index", "players", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
</div>